/* main page styling */
body {
	margin: 0;
	padding-bottom: 100px;
	overflow: auto;
}

/* static container */
.static-div {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background-color: #f8f9fa;
	width: 100%;
	padding: 20px;
	color: green;
	font-weight: bold;
}

.click-here {
	margin-top: 10px;
}

.click-here button {
	background-color: green;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

#first-div {
	background-color: black;
	color: white;
	padding: 20px 0;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

#first-div h1, #first-div h4 {
	margin: 0;
	font-weight: bold;
}

#first-div h4 {
	color: #e9f502;
}

#first-div .slideshow-container {
	margin: 20px;
}

/* slideshow container */
.slideshow-container {
	position: relative;
	max-width: 100%;
	min-height: 300px;
	margin: auto;
h: auto;
	transition: opacity 2s;
}

/* navigation buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.5);
}

.prev {
	left: 0;
}
.next {
	right: 0;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
/* Add animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	 from { opacity: .4; }
    to { opacity: 1; }
}

#second-div {
	overflow: visible;
	background-color: #c6cc5c;
	margin-bottom: 0;
	padding-top: 20px;
	overflow: auto;
}

#second-div p:nth-child(1) {
	margin-left: 70px;
	font-size: 20px;
	font-weight: bold;
}

#second-div p:nth-of-type(2) {
	text-align: center;
	margin: 10px 70px;
	font-size: 20px;
	font-weight: bold;
}
#second-div p:nth-of-type(3) {
	text-align: center;
	line-height: 2.0;
	margin: 0 90px;
}

#second-div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* user profile container */
.testimonies {
	display: flex;
	justify-content: space-between;
}

.testimony {
	display: flex;
	align-items: center;
	gap: 20px;
}

.user-pic {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 40px;
}

.user-info {
	display: flex;
	flex-direction: column;
}


#third-div {
	background-color: #28291c;
	text-align: center;
	margin: 0 70px;
}

#fourth-div .left {
	float: left;
	margin-left: 70px;
}
#fourth-div .right {
	float: right;
}
#fourth-div::after {
	content: "";
	clear: both;
	display: table;
}

#fifth-div {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}

#fifth-div .fifth-columns {
	display: flex;
	justify-content: space-between;
}

.column5 {
	flex: 1;
	margin: 0 10px;
}
.column5 img {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sixth-div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#sixth-div img {
	width: 500px;
	height: auto;
}

#seventh-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#seventh-div img {
    width: 400px; /* Adjust size as needed */
    height: auto;
    margin-right: 40px;
}

#seventh-div .content {
    flex: 1;
    margin-left: 20px; /* Adjust spacing as needed */
}

#seventh-div .content .list7 {
	list-style-type: none;
}
#seventh-div .content .list7 li::before {
	content: "👉 ";
	margin-right: 5px;
}
