.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh; 
    background-color: #055619;
    color: white;
    padding: 20px;
    padding-bottom: 0;
  }
  
  .content {
    text-align: center;
    margin: auto;
    max-width: 150vh;
  }
  
  #main-title {
    font-size: 50px;
  }
  
  #main-intro {
    color: black;
    padding-top: 40px;
  }
  
  .dotted-box {
    border: 3px dashed #000; 
    padding: 20px; 
    margin: 20px; 
    display: inline-block; 
  }
  
  .black-background-across-the-page {
    background-color: black; 
    color: white; 
    padding: 20px; 
    width: 100%; 
    margin-top: 20px; 
    text-align: center; 
  }
  
  
  #disclaimer {
    color: red
  }
  
  
  .footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    background-color: #032F03;
    height: 21vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  /* Add space at the bottom of content to prevent footer overlap */
  .landing-page::after {
    content: '';
    display: block;
    height: 21vh; /* Reserve space for the footer height */
  }
  
  .cta-button {
    position: relative; 
    bottom: 0;
    background-color: red;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: darkred;
  }
  