* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.landing-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	background-color: #055619;
	color: white;
	padding: 10px; 
}

.content {
	text-align: center;
	margin: auto;
	max-width: 90%; 
}

#main-title {
	font-size: 28px; 
}

#main-intro {
	color: black;
	padding-top: 20px; 
	font-size: 18px;
}

img {
	max-width: 100%; 
	height: auto;
}

.dotted-box {
	border: 3px dashed #000;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	font-size: 14px; 
}

.black-background-across-the-page {
	background-color: black;
	color: white;
	padding: 15px;
	width: 100%;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
}

#disclaimer {
	color: red;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #032F03;
	height: 15vh; 
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	padding: 5px;
}

.landing-page::after {
	content: '';
	display: block;
	height: 15vh; 
}

.cta-button {
	background-color: red;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
	width: 90%; 
}

.cta-button:hover {
	background-color: darkred;
}

/* Mobile Devices (phones) */
@media only screen and (max-width: 600px) {
	#main-title {
		font-size: 24px;
	}

	.content {
		max-width: 95vw; 
	}

	.dotted-box {
		padding: 8px;
		margin: 8px;
		font-size: 12px;
	}

	.cta-button {
		padding: 10px 15px;
		font-size: 12px;
		width: 100%;
	}
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
	#main-title {
		font-size: 36px;
	}

	.content {
		max-width: 85vw;
	}

	.dotted-box {
		padding: 15px;
		margin: 15px;
	}

	.cta-button {
		padding: 12px 25px;
		font-size: 14px;
	}
}

/* Laptops and Desktops */
@media only screen and (min-width: 1025px) {
	#main-title {
		font-size: 50px;
	}

	.content {
		max-width: 150vh;
	}

	.dotted-box {
		padding: 20px;
		margin: 20px;
	}

	.cta-button {
		padding: 15px 30px;
		font-size: 16px;
	}
}
